// header
.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: $height-header-itens;
	padding: 0 1em;
	background-color: white;
	display: flex;
	align-items: center;
	box-shadow: 0 5px 15px -2px rgba(0, 0, 0, .3);

	.container {
		display: flex;
		justify-content: space-between;
	}

	.mark {
		color: $orange;
		background: white;
	}

	.offcanvas,
	.datetimer,
	.user {
		display: flex;
		align-items: center;
	}

	.offcanvas .item {
		font-size: 2rem;
	}

	.datetimer {
		flex-direction: row;

		> p {
			margin-right: .5em;
			font-size: .8rem;
			margin-bottom: 0;
		}
	}

	@include media-breakpoint-up('lg') {
		.offcanvas {
			display: none;
		}
	}
}
