/* sidebar */
.sidebar {
	width: 70%;
	height: 100%;
	max-width: 180px;
	position: fixed;
	left: -80%;
	top: 0;
	background-color: $dark-blue;
	z-index: 1001;
	transition: left .3s;

	.sidebar-header {
		width: 100%;
		height: 70px;
		background-color: $orange;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav {
		flex-direction: column;

		.nav-item {
			padding: .3em .1rem;
		}

		.nav-link {
			font-size: .9rem;
			color: #ccc;
			display: flex;
			flex-direction: column;
			align-items: center;

			&:hover, &.active {
				color: white;

				.fa {
					color: $orange;
				}
			}

			.fa {
				font-size: 1.5em;
			}
		}
	}

	@include media-breakpoint-up('lg') {
		left: 0;

		.nav .nav-link {
			font-size: 1rem;
		}
	}
}

.open-sidebar {
	&:after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .4);
		z-index: 1000;
	}

	.sidebar {
		left: 0;
	}
}
