@import "../components/bootstrap/scss/bootstrap";
@import "../components/components-font-awesome/scss/font-awesome";

@import "_variables";
@import "_config";
@import "_sidebar";
@import "_header";

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card {
	margin: 1rem;
	.nav {
		flex-direction: column;
	}

	.card-header,
	.card-footer {
		background-color: transparent;
	}

	&.contractors {
		.card-block {
			display: flex;
			justify-content: center;

			.fa {
				font-size: 5rem;

				&.warning {
					color: $orange;
				}
			}
		}

		.card-footer {
			display: flex;
			justify-content: space-between;

			.item {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 1.3rem;

				.warning {
					color: $orange;
				}

				.info {
					color: $clear-blue;
				}
			}
		}
	}
}

.badge {
	width: 14px;
	height: 14px;
	display: inline-block !important;

	&.primary {
		background: $dark-blue;
	}

	&.info {
		background: $clear-blue;
	}

	&.warning {
		background: $orange;
	}
}
